---
layout: nil
---

/* 
 * =============================================================================
 * Siteye özel Baz CSS
 * =============================================================================
 */
body {

background-color: none;
background-image:url('arka.jpg');
/*background-repeat: no-repeat;*/
background-attachment: fixed

}
background-color: purple;

}
a.deneme{
position:absolute; top:262px;left:450px}

.deneme2{
position:absolute; top:262px;left:600px}

a.deneme3{
position:absolute; top:262px;left:793px}


